<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" requireAccess="Script"  />
        </handlers>
            <aspNetCore stdoutLogEnabled="true" 
                        processesPerApplication="1" 
                        stdoutLogFile="rails.log" 
                        startupTimeLimit="120" 
                        processPath="C:\jruby-9.1.17.0\bin\jruby.exe"
                        arguments="-S bundle exec puma --env production --dir C:\inetpub\wwwroot\boras-invoice-backend -p %HTTP_PLATFORM_PORT%">
            <environmentVariables>
                <environmentVariable name="JAVA_HOME" value="C:\Program Files\Java\jre1.8.0_201"/>
                <environmentVariable name="RAILS_MASTER_KEY" value="8ab2594c8ce98fa6a2572ba8d6c8566a"/>
                <environmentVariable name="SECRET_KEY_BASE" value="7ed1f73d26555ffcbb16c78bc9cc8cb1bb1ae61f9e1d0ee50baaae607344a3cdfc78c2c8a2d2b9d879d47b332378b700c378ed925d237174ac1107765477f195"/>
                <environmentVariable name="RAILS_ENV" value="production"/>
            </environmentVariables>            
        </aspNetCore>
        <rewrite>
            <rules>
                <rule name="asset-url-rewrite" stopProcessing="true">
                    <match url="[0-9a-z\/\-\s]+\.[0-9a-z]+$" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="public/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

