<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" 
           stdoutLogFile="C:\inetpub\wwwroot\boras-invoice-backend\log\rails.log" 
           startupTimeLimit="20" 
            processPath="C:\RailsInstaller\Ruby2.3.3\bin\ruby.exe"
            arguments="&quot;C:\RailsInstaller\Ruby2.3.3\bin\rails&quot; server -p %HTTP_PLATFORM_PORT% ">>
            <environmentVariables>
                <environmentVariable name="RAILS_ENV" value="production" />
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>
